<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Factotum.Properties.Settings.FactotumConnectionString"
            connectionString="Data Source =&quot;|DataDirectory|\Factotum.sdf&quot;;"
            providerName="Microsoft.SqlServerCe.Client" />
    </connectionStrings>
  </configuration>